body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-color: #fff;
  color: #333;
}

/* Bagian navbar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 7rem;
  background-color: #ffffff;
}

.logo img {
  padding: 0 0.5rem;
  width: 150px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 3rem;
  margin: 0;
  padding: 0;
}

.nav-links li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  transition: color 0.3s ease;
}

.btn-dwonload {
  background-color: #c0392b;
  color: white;
  padding: 0.6rem 1.2rem;
  border-radius: 10px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  box-shadow: 4px 4px #999;
}

/* Bagian Hero */
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  flex-wrap: nowrap;
}

.hero-text {
  padding: 0 5rem;
  flex: 1;
  min-width: 0;
}

.hero-text h1 {
  font-family: "Merienda", cursive;
  font-size: 2.8rem;
  line-height: 1.3;
}

.hero-text p {
  font-size: 1.1rem;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  line-height: 1.6;
}

.btn-cta {
  background-color: #c0392b;
  color: white;
  padding: 0.8rem 1.5rem;
  border-radius: 12px;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  cursor: pointer;
  box-shadow: 4px 4px #999;
}

.hero-image img {
  width: 100%;
  max-width: 600px;
  height: auto;
}

.hero-hiasan img {
  padding: 10rem 16rem;
  position: absolute;
  top: 30px;
  left: 220px;
}

.red {
  color: #c0392b;
}

.green {
  color: #27ae60;
}

.yellow {
  color: #f39c12;
}

/* Bagian About us */
.about-section {
  padding: 80px 150px;
}

.about-container {
  display: flex;
  flex-wrap: wrap;
  background-color: #ffc107;
  border-radius: 60px;
  overflow: hidden;
}

.about-text {
  flex: 1;
  min-width: 300px;
  padding: 10px 50px;
  color: #4a2c00;
}

.about-text p {
  line-height: 1.6;
}

.about-text strong {
  color: #b71c1c;
}

.about-list {
  list-style: none;
  padding: 0;
  margin: 15px 0;
}

.about-list li {
  margin: 8px 0;
  font-weight: bold;
  color: #b71c1c;
}

.about-list li span {
  margin-right: 8px;
  color: #b71c1c;
}

.about-image {
  flex: 1;
  padding: 60px;
  background-color: #fff;
  text-align: center;
  border: 10px solid #ffc107;
  border-top-right-radius: 60px;
  border-bottom-right-radius: 60px;
}

.about-image h2 {
  color: #b71c1c;
  margin-bottom: 9px;
}

.about-image img {
  max-width: 80%;
  height: auto;
}
